/* app css stylesheet */

.issues-panel {
  padding-left: 50px;
  padding-right: 50px;
}

.active a {
  color: #FFFFFF !important;
  background-color: #32a5e7 !important;
}

.change-password-content,
.make-admin-content {
  margin-top: 80px;
}

.make-admin-well {
  padding: 20px 0 !important;
}

.change-password-btn {
  width: 35%;
}

.save-project-btn, .add-issue-btn {
  width: 19%;
}

.add-project-btn {
  margin-top: 20px !important;
}

.all-projects-header {
  text-decoration: underline;
}

.change-password-field {
  width: 95%;
  margin: 0 auto !important;
}

.dashboard-label {
  margin-top: 25px;
  margin-bottom: 15px;
}

.issues-table {
  width: 95% !important;
  margin: 0 auto;
}

.issues-panel, .aff-projects-panel {
  padding: 0 !important;
}

.comment-words-wrap {
  word-wrap: break-word !important;
}

.remove-label:hover {
  cursor: pointer;
}

.project-page, .view-issue-page {
  margin-top: 45px;
}

.project-info {
  padding-right: 0 !important;
}

.project-page-issues {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.styled-status-li {
  margin-top: 5px;
}

.project-page-issues-table {
  width: 95% !important;
  margin: 0 auto !important;
}

.project-key-font-size {
  font-size: 19px;
}

.view-content {
  height: 100% !important;
}

.no-comments-label {
  width: 50% !important;
}

.float-left {
  float: left;
  clear: both;
}

.no-issues-for-project-label {
  margin-top: 20px !important;
}

.issue-info-label {
  width: 50% !important;
}

.comment-text-label {
  width: 100% !important;
  font-size: 17px !important;
}

.comments-panel, .add-comment {
  width: 50% !important;
}

.comment-textarea {
  height: 150px !important;
}

.add-comment-btn {
  margin: 10px;
  margin-top: 0;
}

.all-projects-label {
  display: inline-block !important;
}

.all-projects {
  margin: 0 auto !important;
}

.project-edit-description {
  width: 83% !important;
  height: 100px !important;
  display: inline-block !important;
}

.inline-inputs {
  display: inline-block !important;
  width: 90% !important;
}

.project-view-priorities {
  display: inline-block !important;
  width: 85% !important;
}

.inline-input-label {
  display: inline-block !important;
  width: 60% !important;
}

.inline-input-select {
  display: inline-block !important;
  width: 45% !important;
}

.inline-input-select-make-admin {
  display: inline-block !important;
  width: 60% !important;
}

.change-password-form {
  padding: 20px !important;
  padding-bottom: 0 !important;
}

.inline-input-select-add-issue {
  display: inline-block !important;
  width: 70% !important;
}

.inline-input-select-add-project {
  display: inline-block !important;
  width: 75% !important;
}

.filter-input-field {
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.filter-block {
  width: 85% !important;
  margin: 0 auto !important;
  margin-top: 15px !important;
}

.filter-group-inputs {
  display: inline-block !important;
  width: 43% !important;
}

.add-project-inline-inputs {
  display: inline-block !important;
  width: 80% !important;
}

.inline-block-span {
  display: inline-block !important;
  margin-right: 5px;
  text-align: center;
  font-size: 13px !important;
  margin-top: 3px;
}

.edit-project-block {
  padding: 0 !important;
}

.text-span {
  line-height: 20px;
}

.add-issue-title {
  display: inline-block;
}

.close-modal {
  font-size: 28px !important;
  position:absolute;
  top: 10px;
  right: 10px;
}

.modal-header {
  padding-bottom: 0 !important;
}

.close-modal:hover {
  cursor: pointer;
  color: red;
}

.styled-well {
  padding: 25px 35px !important;
  padding-bottom: 20px !important;
}

.modal-description {
  display: inline-block !important;
  width: 80% !important;
  height: 100px !important;
}

.edit-issue-description {
  display: inline-block !important;
  width: 86% !important;
  height: 150px !important;
}

.edit-issue-due-date {
  display: inline-block !important;
  width: 20% !important;
}

.add-issue-due-date {
  display: inline-block !important;
  width: 46% !important;
}

.date-picker-form {
  display: inline-block !important;
  width: 80% !important;
}

.edit-issue-due-date {
  display: inline-block !important;
  width: 20% !important;
}

.date-input-group {
  display: inline-block !important;
  width: 80% !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.calendar-icon {
  color: limegreen !important;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html, body {
  height: 100% !important;
}

.home-page-background{
  background-color: #6CA4C8;
  width: 100%;
  height: 100% !important;
}

.home-partial {
  background-color: #6CA4C8;
}

.dashboard-content {
  padding-top: 20px;
}

body {
  font-size: 15px !important;
  font-weight: 300;
  text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #19b9e7;
  text-decoration: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img { max-width: 100%; }

.help-block {
  color: #b22f2c !important;
  margin-bottom: 0 !important;
  text-align: center;
}

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #19b9e7;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}


/***** Top content *****/

.inner-bg {
  padding: 60px 0 80px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.6; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
  margin-top: 70px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.35);
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

.social-login {
  margin-top: 35px;
}

.social-login h3 {
  color: #fff;
}

.social-login-buttons {
  margin-top: 25px;
}

.middle-border {
  min-height: 300px;
  margin-top: 170px;
  border-right: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
  padding-bottom: 70px;
  color: #fff;
}

footer .footer-border {
  width: 200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
  color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }
