<div class="modal-header">
    <h2 class="add-issue-title">Add issue</h2>
    <div class="inline-inputs">
        <i class="fa fa-times-circle fa-lg close-modal text-right" aria-hidden="true" ng-click="closeModal()"></i>
    </div>
</div>

<div class="modal-body">
    <form class="form-horizontal well edit-project-well">
        <div class="form-group text-left">
            <label for="issueTitle" class="control-label">Title: </label>
            <input type="text" class="form-control inline-inputs" id="issueTitle" ng-model="issue.title" required="required">
        </div>
        <div class="form-group text-left">
            <label for="issueDescription" class="control-label">Description: </label>
            <textarea class="form-control modal-description" id="issueDescription"
                      ng-model="issue.description" cols="30" rows="10" required="required">
            </textarea>
        </div>
        <div class="form-group text-left">
            <label class="control-label" for="projectSelect">Project:</label>
            <select name="projectSelect" class="form-control inline-input-select-add-issue" id="projectSelect"
                    ng-options="project as project.Name for project in projects"
                    ng-model="issue.selectedProject" ng-change="getPrioritiesForProject(issue.selectedProject)">
            </select>
        </div>
        <div class="form-group text-left">
            <label class="control-label" for="assigneeSelect">Assignee:</label>
            <select name="assigneeSelect" class="form-control inline-input-select-add-issue" id="assigneeSelect"
                    ng-options="user as user.Username for user in users"
                    ng-model="issue.assignee">
            </select>
        </div>
        <div class="form-group text-left">
            <label class="control-label" for="prioritySelect">Priority:</label>
            <select name="prioritySelect" class="form-control inline-input-select-add-issue" id="prioritySelect"
                    ng-options="priority as priority.Name for priority in priorities"
                    ng-model="issue.priority">
            </select>
        </div>
        <div class="form-group text-left">
            <label class="control-label">Due Date:</label>
            <div date-picker date="issue.dueDate" required="required"></div>
        </div>
        <div add-labels-form labels="issue.labels"></div>
        <button class="btn btn-primary add-issue-btn" ng-click="addIssue(issue)">Add issue</button>
        <button class="btn btn-danger add-issue-btn" ng-click="closeModal()">Cancel</button>
    </form>
</div>

