<div ng-include="'views/common/navbar.html'"></div>

<div class="container-fluid">
    <div class="row view-issue-page">
        <h2>Edit issue page</h2>

        <div class="col-md-8">
            <h3>Issue Info</h3>
            <div edit-issue-form></div>
        </div>
        <div class="col-md-4 project-page-issues">
            <h3>Available Statuses</h3>
            <ul>
                <li class="text-left styled-status-li" ng-repeat="status in issue.AvailableStatuses">
                    {{status.Name}}
                    <button ng-click="changeIssueStatus(status.Id)" class="btn btn-success">
                        Change
                    </button>
                </li>
            </ul>
            <p ng-if="issue.AvailableStatuses.length === 0">
                <strong>No available statuses!</strong>
            </p>
        </div>
    </div>
</div>