<div class="comments-panel">
    <h3>Comments</h3>
    <div class="panel panel-primary" dir-paginate="comment in comments | itemsPerPage: commentsPaginationParams.pageSize">
        <div class="panel-heading comment-words-wrap">
            <h3 class="panel-title">
                {{comment.Author.Username}}
                {{comment.CreatedOn | date:'dd-MM-yyyy HH:mm:ss'}}
            </h3>
        </div>
        <div class="panel-body comment-words-wrap">
            <p>{{comment.Text}}</p>
        </div>
    </div>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" boundary-links="true">
    </dir-pagination-controls>
</div>