<form class="form-horizontal well styled-well" name="addProjectForm">
    <div class="form-group text-left" ng-class="{ 'has-error' : addProjectForm.projectName.$invalid && addProjectForm.projectName.$dirty }">
        <label for="projectName" class="control-label">Name *</label>
        <input type="text" class="form-control add-project-inline-inputs" id="projectName" ng-model="project.name"
               required="required" name="projectName">
        <p ng-show="addProjectForm.projectName.$error.required && addProjectForm.projectName.$dirty" class="help-block">
            Name is required
        </p>
    </div>
    <div class="form-group text-left" ng-class="{ 'has-error' : addProjectForm.projectDescription.$invalid && addProjectForm.projectDescription.$dirty }">
        <label for="projectDescription" class="control-label">Description *</label>
            <textarea class="form-control modal-description" id="projectDescription"
                      ng-model="project.description" name="projectDescription" required="required">
            </textarea>
        <p ng-show="addProjectForm.projectDescription.$error.required && addProjectForm.projectDescription.$dirty" class="help-block">
            Description is required
        </p>
    </div>
    <div class="form-group text-left" ng-class="{ 'has-error' : addProjectForm.leadSelect.$invalid && addProjectForm.leadSelect.$dirty }">
        <label class="control-label" for="leadSelect">Lead *</label>
        <select name="leadSelect" class="form-control inline-input-select-add-project" id="leadSelect"
                ng-options="user as user.Username for user in users"
                ng-model="project.selectedLead">
        </select>
        <p ng-show="addProjectForm.leadSelect.$error.required && addProjectForm.leadSelect.$dirty" class="help-block">
            Lead is required
        </p>
    </div>
    <div class="form-group text-left" ng-class="{ 'has-error' : addProjectForm.projectPriorities.$invalid && addProjectForm.projectPriorities.$dirty }">
        <label class="control-label" for="projectPriorities">Priorities *</label>
        <input type="text" class="form-control add-project-inline-inputs" id="projectPriorities"
               ng-model="project.priorities" name="projectPriorities" required="required">
        <p ng-show="addProjectForm.projectPriorities.$error.required && addProjectForm.projectPriorities.$dirty" class="help-block">
            Priorities are required
        </p>
    </div>
    <div add-labels-form labels="project.labels"></div>
    <p class="text-left">
        <strong><i>* required fields</i></strong>
    </p>
    <button class="btn btn-primary" ng-click="addProject(project)" ng-disabled="addProjectForm.$invalid && addProjectForm.$dirty">Add project</button>
    <button type="button" class="btn btn-danger" ng-click="closeModal()">Cancel</button>
</form>