<div ng-include="'views/common/navbar.html'"></div>

<div class="container-fluid">
    <div class="row project-page">
        <div class="col-md-5 col-md-offset-4">
            <div class="all-projects">
                <div class="row">
                    <h2 class="col-md-7 all-projects-header">All projects</h2>
                    <div class="col-md-5">
                        <a ng-href="#/projects/add" class="btn btn-primary add-project-btn"
                           ng-click="openAddProjectModal()">
                            Add project
                        </a>
                    </div>
                </div>
                <div class="row" dir-paginate="project in projects | itemsPerPage: projectsParams.pageSize"
                     total-items="totalProjectsCount" current-page="projectsParams.pageNumber">
                    <h4 class="all-projects-label col-md-7">{{project.Name}}</h4>
                    <div class="col-md-5">
                        <a ng-href="#/projects/{{project.Id}}" class="btn btn-success">
                            View
                        </a>
                        <a ng-href="#/projects/{{project.Id}}/edit" class="btn btn-success">
                            Edit
                        </a>
                    </div>
                </div>
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>