<div ng-include="'views/navbar.html'"></div>
<div class="container-fluid" ng-controller="DashboardController">
    <div class="row dashboard-content">
        <h1 class="dashboard-label">Dashboard</h1>

        <div class="col-md-3 aff-projects-panel">
            <h3 class="aff-projects-label">Affiliated projects</h3>

            <div ng-repeat="project in affiliatedProjects">
                <a ng-href="#/projects/{{project.Id}}">{{project.Name}}</a>
            </div>
        </div>
        <div class="col-md-9 issues-panel">
            <h3 class="issues-label">Your issues</h3>

            <table class="table table-striped table-hover issues-table">
                <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Project</th>
                    <th class="text-center">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="issue in issues | orderBy: DueDate | itemsPerPage: paginationParams.pageSize"
                    total-items="totalUserIssuesCount" current-page="paginationParams.pageNumber">
                    <td class="col-md-3">
                        <a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                    </td>
                    <td class="col-md-5">{{issue.Description}}</td>
                    <td class="col-md-2">
                        <a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a>
                    </td>
                    <td class="col-md-2">{{issue.DueDate | date:'dd-MM-yyyy'}}</td>
                </tr>
                </tbody>
            </table>

            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" boundary-links="true">
            </dir-pagination-controls>

        </div>
    </div>
</div>