<div class="col-sm-5">

    <div class="form-box">

        <div class="form-top">
            <div class="form-top-left">
                <h3>Login</h3>
                <p>Enter email and password to log on:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>

        <div class="form-bottom">
            <form role="form" name="loginUserForm" method="post">
                <div class="form-group"
                     ng-class="{ 'has-error' : loginUserForm.loginEmail.$invalid && loginUserForm.loginEmail.$dirty }">
                    <label class="sr-only" for="loginEmail">Email</label>
                    <input type="email" name="loginEmail" placeholder="Email..."
                           class="form-control" id="loginEmail" ng-model="loginUser.username" required="required">
                    <p ng-show="loginUserForm.loginEmail.$error.required && loginUserForm.loginEmail.$dirty"
                       class="help-block">Email is required</p>
                    <p ng-show="loginUserForm.loginEmail.$error.email && loginUserForm.loginEmail.$dirty"
                       class="help-block">Invalid email format</p>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : loginUserForm.loginPassword.$invalid && loginUserForm.loginPassword.$dirty }">
                    <label class="sr-only" for="loginPassword">Password</label>
                    <input type="password" name="loginPassword" placeholder="Password..." ng-minlength="6"
                           class="form-control" id="loginPassword" ng-model="loginUser.password" required="required">
                    <p ng-show="loginUserForm.loginPassword.$error.required && loginUserForm.loginPassword.$dirty"
                       class="help-block">Password is required</p>
                    <p ng-show="loginUserForm.loginPassword.$viewValue.length !== 0
                             && loginUserForm.loginPassword.$viewValue.length < 6
                             && loginUserForm.loginPassword.$dirty"
                       class="help-block">
                        Password must be at least 6 characters long
                    </p>
                </div>
                <button type="submit" ng-disabled="loginUserForm.$invalid && loginUserForm.$dirty" class="btn btn-primary"
                        ng-click="login(loginUser)">Login
                </button>
            </form>
        </div>

    </div>

    <!--<div class="social-login">-->
    <!--<h3>...or login with:</h3>-->
    <!--<div class="social-login-buttons">-->
    <!--<a class="btn btn-link-2" href="#">-->
    <!--<i class="fa fa-facebook"></i> Facebook-->
    <!--</a>-->
    <!--<a class="btn btn-link-2" href="#">-->
    <!--<i class="fa fa-twitter"></i> Twitter-->
    <!--</a>-->
    <!--<a class="btn btn-link-2" href="#">-->
    <!--<i class="fa fa-google-plus"></i> Google Plus-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

</div>