<div ng-include="'views/common/navbar.html'"></div>

<div class="container-fluid">
    <div class="row change-password-content">
        <div class="col-md-4 col-md-offset-4">
            <div class="well bs-component">
                <form class="form-horizontal change-password-form" name="changePasswordForm">
                    <div class="form-group"
                         ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty }">
                        <label for="oldPassword">Current password *</label>
                        <input type="password" name="oldPassword" placeholder="Current password..." ng-minlength="6"
                               class="form-control" id="oldPassword" ng-model="passwordInfo.oldPassword"
                               required="required">
                        <p ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$dirty"
                           class="help-block">
                            Current password is required
                        </p>
                        <p ng-show="changePasswordForm.oldPassword.$viewValue.length !== 0
                             && changePasswordForm.oldPassword.$viewValue.length < 6
                             && changePasswordForm.oldPassword.$dirty"
                           class="help-block">
                            Current Password must be at least 6 characters long
                        </p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty }">
                        <label for="newPassword">New password *</label>
                        <input type="password" name="newPassword" placeholder="New password..." ng-minlength="6"
                               class="form-control" id="newPassword" ng-model="passwordInfo.newPassword"
                               required="required">
                        <p ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty"
                           class="help-block">
                            New password is required
                        </p>
                        <p ng-show="changePasswordForm.newPassword.$viewValue.length !== 0
                             && changePasswordForm.newPassword.$viewValue.length < 6
                             && changePasswordForm.newPassword.$dirty"
                           class="help-block">
                            New Password must be at least 6 characters long
                        </p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty }">
                        <label for="confirmPassword">Confirm new password *</label>
                        <input type="password" name="confirmPassword" placeholder="Confirm new password..."
                               ng-minlength="6"
                               class="form-control" id="confirmPassword" ng-model="passwordInfo.confirmPassword"
                               required="required">
                        <p ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty"
                           class="help-block">Confirm new password is required</p>
                        <p ng-show="changePasswordForm.confirmPassword.$viewValue.length !== 0
                             && changePasswordForm.confirmPassword.$viewValue.length < 6
                             && changePasswordForm.confirmPassword.$dirty"
                           class="help-block">
                            Confirm Password must be at least 6 characters long
                        </p>
                    </div>
                    <p ng-show="changePasswordForm.newPassword.$viewValue !== changePasswordForm.confirmPassword.$viewValue
                                 && changePasswordForm.newPassword.$valid && changePasswordForm.confirmPassword.$valid"
                       class="help-block">
                        New Password and Confirm Password don't match
                    </p>
                    <p class="text-left"><strong>* - required fields</strong></p>
                    <button type="submit" ng-disabled="(changePasswordForm.$invalid && changePasswordForm.$dirty)
                        || (changePasswordForm.newPassword.$viewValue !== changePasswordForm.confirmPassword.$viewValue
                        && changePasswordForm.newPassword.$valid && changePasswordForm.confirmPassword.$valid)"
                            class="btn btn-primary change-password-btn"
                            ng-click="changePassword(passwordInfo)">
                        Change
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>