<div class="navbar navbar-default navbar-fixed-top" ng-class="{ 'navbar-inverse': isAdmin }" ng-controller="AuthenticationController">
    <div class="container">
        <div class="navbar-header">
            <a ng-href="#/" class="navbar-brand">Dashboard</a>
            <a ng-if="isAdmin" ng-href="#/projects" class="navbar-brand">Projects</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a>{{username}}</a></li>
                <li ng-if="isAdmin"><a ng-href="#/make-admin">Make admin</a></li>
                <li><a ng-href="#/profile/password">Change password</a></li>
                <li><a ng-href="#/logout" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>